apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- httpbin.yaml
- httpbin-route.yaml

patches:
- target:
    kind: Ingress
  patch: |-
    - op: replace
      path: /spec/rules/0/host
      value: "10.42.55.19.httpbin.sslip.io"