#cloud-config
fqdn: microk8s-4
hostname: microk8s-4
ssh_pwauth: true
disable_root: false
users:
  - default
  - name: nutanix
    groups: users,sudo,docker
    plain_text_passwd: nutanix2026!
    lock_passwd: false
    sudo:
      - ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
  - name: ubuntu
    groups: users,sudo,docker
    lock_passwd: false
    sudo:
      - ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
chpasswd:
  expire: false
  users:
    - name: ubuntu
      password: ubuntu2026!
      type: text
runcmd:
  - systemctl restart ssh
  - systemctl enable ssh
  - wget https://raw.githubusercontent.com/ky-rafaels/gitops-k8s-platform/refs/heads/main/infrastructure/ntnx/scripts/ubuntu-bastion-bootstrap.sh
  - chmod +x ./ubuntu-bastion-bootstrap.sh
  - ./ubuntu-bastion-bootstrap.sh 2>&1 | tee ./ubuntu-bastion-bootstrap-log.txt
  - eject
# Package updates
package_update: true
package_upgrade: true
# Install essential packages
packages:
  - openssh-server
  - sudo